<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher adding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/allTeachers">View all teachers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/allTeachers">View all teachers</a>
                </li>
            </ul>
        </div>
    </nav>

</div>
<br>
<div class="container">
    <div class="jumbotron">
        <form class="form-horizontal" method="post" th:action="@{add}" th:object="${newTeacher}">
            <div id="legend">
                <legend class="">Insert teacher information</legend>
            </div>

            <div class="container">
                <div class="control-group">
                    <label class="control-label" for="name">name</label>
                    <div class="controls">
                        <input type="text" id="Name" name="name" placeholder="" class="input-xlarge"
                               th:field="*{name}">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
                        <input type="text" id="lastName" name="lastName" placeholder="" class="input-xlarge"
                               th:field="*{lastName}">
                    </div>
                </div>

                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="name@example.pl"
                           class="input-xlarge"
                           th:field="*{email}">
                </div>
            </div>

            <div>
                <div class="control-group">
                    <label class="control-label" for="age">Age</label>
                    <div class="controls">
                        <input type="number" id="age" name="age" placeholder="" class="input-xlarge"
                               th:field="*{age}">
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="subject">Subject</label>
                    <div class="controls">
                        <input type="number" id="subject" name="subject" placeholder="" class="input-xlarge"
                               th:field="*{subject}">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success" type="submit">Add
                        </button>
                    </div>
                </div>
                <br/>
            </div>
        </form>
</body>
</html>
