<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teachers and students management</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
    <div class="students-container"></div>
<!--    tu bedzie templatka getForStudentsId-->

    <div class="teachers-container"></div>
    <!--    tu bedzie templatka getForTeacherssId-->

</body>
<script type="application/javascript" th:src="@{/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{/management.js}"></script>
<script type="text/javascript" th:src="@{/studentManagement.js}"></script>
<script type="text/javascript" th:src="@{/teacherManagement.js}"></script>
</html>