<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Student</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1>Student management</h1>
    <hr>
    <h2>Save student</h2>

    <form action="#" th:action="@{saveStudent}" th:object="${student}" method="POST">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid Name</div>
        <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4">

        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid Last Name</div>
        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4">

        <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Invalid Age</div>
        <input type="text" th:field="*{age}" placeholder="Age" class="form-control mb-4 col-4">

        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid Email</div>
        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">

        <div th:if="${#fields.hasErrors('field')}" th:errors="*{field}">Invalid Field</div>
        <div class="control-group">
            <label class="control-label">Field</label>
            <select th:field="*{field}">
                <option th:each="i : ${T(ZadanieRekrutacyjne.ZadanieRekrutacyjne.Enums.Field).values()}"
                        th:value="${i}"
                        th:text="${i}"></option>
            </select>
        </div>


        <button type="submit" class="btn btn-info col-2">Save Student</button>
    </form>
    <hr>
    <a th:href="@{/}" class="btn btn-primary">Back to list</a>
</div>
</body>
</html>