<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Update Student</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <h1>Student management</h1>
            <hr>
            <h2>Update student</h2>
            <!--            // tu do tego student zwracam studenta z metody update z kontrollera a on jest z wylistowania studentow-->
            <div class="update-form-and-teachers-list-container" style="display: flex;">
                <form action="#" th:action="@{/students/saveStudent}" th:object="${student}" method="POST" style="flex: 0 0 55%;">
                    <input id="studentId" th:value="${student.id}" type="hidden" th:field="*{id}">

                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid Name</div>
                    <input type="text" th:field="*{name}" class="form-control mb-4 col-5">

                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid Last Name</div>
                    <input type="text" th:field="*{lastName}" class="form-control mb-4 col-5">

                    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Invalid Age</div>
                    <input type="text" th:field="*{age}" class="form-control mb-4 col-5">

                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid Email</div>
                    <input type="text" th:field="*{email}" class="form-control mb-4 col-5">

                    <div th:if="${#fields.hasErrors('field')}" th:errors="*{field}">Invalid Field</div>
                    <div class="control-group">
                        <label class="control-label">Field</label>
                        <select th:field="*{field}">
                            <option th:each="i : ${T(ZadanieRekrutacyjne.ZadanieRekrutacyjne.Enums.Field).values()}"
                                    th:value="${i}"
                                    th:text="${i}"></option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-info col-5">Update Student</button>
                </form>

                <div class="available-teachers" style="flex: 1;">
                    <div th:each="teacher :${teachers}" style="display:flex;">
                        <label th:text="${teacher.name}" style="flex: 0 0 55%;"></label>
                        <a th:if="${!teacher.assignedToCurrentStudent}" th:value="${teacher.id}" th:onclick="addTeacherToStudent(this)" class="btn btn-info" style="flex:1;">Add</a>
                        <a th:if="${teacher.assignedToCurrentStudent}" th:value="${teacher.id}" th:onclick="removeTeacherOfStudent(this)" class="btn btn-danger" style="flex:1;">Remove</a>
                    </div>
                </div>
            </div>
            <hr>
            <a th:href="@{/}" class="btn btn-primary">Back to list</a>
        </div>
    </body>
    <script type="application/javascript" th:src="@{/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/studentManagement.js}"></script>
</html>