<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Update Teacher</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <h1>Teacher management</h1>
            <hr>
            <h2>Update teacher</h2>
            <div class="update-form-and-students-list-container" style="display: flex;">
                <form action="#" th:action="@{/teachers/saveTeacher}" th:object="${teacher}" method="POST" style="flex: 0 0 55%;">
                    <input id="teacherId" th:value="${teacher.id}" type="hidden" th:field="*{id}">

                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid Name</div>
                    <input type="text" th:field="*{name}" class="form-control mb-4 col-5">

                    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid Last Name</div>
                    <input type="text" th:field="*{lastName}" class="form-control mb-4 col-5">

                    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Invalid Age</div>
                    <input type="text" th:field="*{age}" class="form-control mb-4 col-5">

                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid Email</div>
                    <input type="text" th:field="*{email}" class="form-control mb-4 col-5">

                    <div th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}">Invalid Subject</div>
                    <div class="control-group">
                        <label class="control-label">Subject</label>
                        <select th:field="*{subject}">
                            <option th:each="i : ${T(ZadanieRekrutacyjne.ZadanieRekrutacyjne.Enums.Subject).values()}"
                                    th:value="${i}"
                                    th:text="${i}"></option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-info col-5">Update Teacher</button>
                </form>

                <div class="available-students" style="flex: 1;">
                    <div th:each="student :${students}" style="display:flex;">
                        <label th:text="${student.name}" style="flex: 0 0 55%;"></label>
                        <a th:if="${!student.assignedToCurrentTeacher}" th:value="${student.id}" th:onclick="addStudentToTeacher(this)" class="btn btn-info" style="flex:1;">Add</a>
                        <a th:if="${student.assignedToCurrentTeacher}" th:value="${student.id}" th:onclick="removeStudentOfTeacher(this)" class="btn btn-danger" style="flex:1;">Remove</a>
                    </div>
                </div>
            </div>

            <hr>
            <a th:href="@{/}" class="btn btn-primary">Back to list</a>
        </div>
    </body>
    <script type="application/javascript" th:src="@{/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/teacherManagement.js}"></script>
</html>